GCP_PROJECT=elemental-kite-456235-j6
GCP_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=service_account.json

POSTGRES_PORT=5432
POSTGRES_DB=user_service
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

KAFKA_BOOTSTRAP_SERVERS="localhost:29092,localhost:29093"
KAFKA_TOPICS="topic1,topic2"
KAFKA_GROUP_ID="default-group"

CHROMA_HOST=localhost
CHROMA_PORT=8000
